
.treaties-page {
    padding: 20px;
    padding-inline: 8rem;
    padding-bottom: 0px;
    margin: 0 auto;
    color: #e0e0e0;
    animation: fadeIn 1s ease-in-out;
  }

  .treaty-section:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
  }
  .treaty-section {
    transition: all 0.5s;
  }
  
  
  .treaties-page h1 {
    font-size: 2.5em;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .treaty-section {
    background-color: #1a1a1a;
    padding: 15px;
    padding-inline: 9rem;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .treaty-section h2 {
    color: #87cefa;
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .treaty-section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .treaty-section a {
    color: #1e90ff;
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .treaty-section a:hover {
    color: #87cefa;
  }

/* Styling for the treaty section */
.treaty-section ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.treaty-section li {
  margin-bottom: 10px; /* Adds space between list items */
}

.treaty-section a {
  color: #1e90ff;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.3s ease;
}

.treaty-section a:hover {
  color: #87cefa;
}


/* featured section */

.treaties-featured-links {
  text-align: center;
  padding: 40px;
  padding-top: 10px;
  background-color: black !important;
}

.treaties-featured-links h2 {
  font-size: 1.5em;
  color: var( --secondary-color);
}

.link-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.button {
  background-color: var(--secondary-color) !important;
  color: white;
  padding: 12px 20px;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--secondary-color);
}

.link-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.link-buttons .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
}

.link-buttons .button:hover {
  background-color: #87cefa;
}

@media (max-width: 1100px){
  .treaties-page section {
    padding-inline: 3rem;
  }
}

@media (max-width: 768px) {

  .treaties-page {
    padding-inline: 1rem;
  }

  .treaties-page h1 {
    font-size: 1.75rem;
  }

  .treaties-page h2 {
    font-size: 1.25rem;
  }

  .link-buttons .button {
    width: 13rem !important;
  }

  .treaty-section {
    padding-inline: 3rem;
  }
}