/* Footer.css */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-size: 0.9em;
    margin-top: 5vh;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .footer p {
      margin: 30px 0;
    }
  }