/* Header.css */

.header {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.tagline {
  font-size: 1.2em;
  margin-top: 5px;
}

.nav-links {
  margin-top: 10px;
}

.nav-links a {
  color: #1e90ff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active-link {
  border-bottom: 2px solid #87cefa;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.75rem;
  }

  .header .nav-links  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .header .nav-links a {
    max-width: 30%;
  }
}